@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body{
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align:center;
  color: rgb(0, 0, 0);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  
  .nav-links li {
    opacity: 0;
  }
  
  .hamburger {
    display: block;
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  .nav-links li {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
}

.request{
  margin-left: 5%;
  margin-right: 5%;
}

/* Define the fade-in class for the text */
.fade-in {
  opacity: 0;
}

/* Define the fade-in-animation class for the animation */
.fade-in-animation {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.request{
  margin-left: 5%;
  margin-right: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #7d7a7a;
}

